<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">
    <title>Sonora Tires</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="title">
      <h1>Sonora Tires</h1>
    </div>
    <div id="login">
      <h4>Join/Login</h4>
    </div>
    <div id="nav">
      <ul>
        <li>Tires</li>
        <li>Brakes</li>
        <li>Alignment</li>
        <li>Oil Change</li>
        <li>Transmission Service</li>
        <li>Appointment</li>
        <li>Financing</li>
        <li></li>
      </ul>
    </div>
    <div id="location">
      <p>Location</p>
        <span>17977 Valley Blvd.<br>Bloomington, CA 92316</span>
    </div>
    <div id="hours">
      <p>Hours of Operation</p>
        <span> Monday - Friday 8:00 AM - 6:00 PM<br>
          Saturday 8:00 AM - 5:00 PM<br>
          Sunday 8:00 AM - 3:00 PM
        </span>
    </div>
    <div id="contacts">
      <p>Contact Us</p>
       <span>909-877-6350</span>
    </div>
    <div id="about">  
      <p>About Us</p>
        <span>
          "We are a family-owned and<br> operated company, 
          offering new and used tire sales, as well as 
          automotive<br>repairs.We are here to serve you 
          quality<br> products with good prices, and a family 
          atmosphere. We strive to exceed your expectations 
          in a professional and responsible manner."
        </span>
    </div>
    <div id="policy">
      <p>Privacy Policy</p>
    </div>
    <div id="terms">
      <p>Terms & Conditions</p>
    </div>
   </body>
</html>
